{% extends "transport/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="wrap content-Inc">
    <div class="side-nav left">
      {% load indLeftTags %} 
      <dl class="nav-list">
        <dt>
          <span>ORDERS</span>
        </dt>
        <dd>
          <ul>
            {% navtagitem /t/i/psall/ "Demands" %} 
            {% navtagitem /t/i/publish/ "Release" %} 
          </ul>
        </dd>
        <dt>
          <span>ACCOUNT</span>
        </dt>
        <dd>
          <ul>
            {% navtagitem /t/i/info/ "Personal INFO" %} 
            {% navtagitem /t/i/pwd/ "Change PWD" %} 
          </ul>
        </dd>
      </dl>
    </div>
    {% block left_block %}
	{% endblock %}
</div>
{% endblock %}