<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'js/themes/Default/style/style.css'%}" rel="stylesheet" charset="utf-8" />
  <link href="{% static 'css/bootstrap-theme.css'%}" rel="stylesheet" charset="utf-8" />
  <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" charset="utf-8" />
  <link href="{% static 'css/style.css'%}" rel="stylesheet" charset="utf-8" />
  <link href="{% static 'css/jquery.datetimepicker.css'%}" rel="stylesheet" charset="utf-8" />
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8Gemy2E2U9mZd6DZU3v6B8mC"></script>
  <script type="text/javascript" src="{% static 'js/jquery-1.7.min.js'%}"></script>
</head>
<body>
  <div class="header">
    <div class="wrap">
      <div class="topbar">
        <span class="left">
          Welcome！[
          {% if not request.session.username %}
          <a href="/t/login/">LOG IN</a>
          |
          <a href="/t/reg/">SIGN UP</a>
          {% else %}
          <a href="/t/i/psall/" >{{request.session.username}}</a>
          |
          <a href="/t/logout/" >SIGN OUT</a>
          {% endif %}
          ]
        </span>
        <span class="right">TEL 010-83790418</span>
      </div>
      <div class="logo left">
        <img src="{% static 'images/logo.png'%}"></div>
      {% load mainTags %} 
      <ul class="navbar right">
        {% navtagitem /t/index "HOME" %} 
        {% navtagitem /t/download "DOWNLOAD" %} 
        {% navtagitem /t/i/psall/ "ACCOUNT" %} 
        {% navtagitem /t/about "ABOUT US" %} 
        {% navtagitem /t/question "FEEDBACK" %}  
      </ul>
    </div>
  </div>
	{% block body_block %}
	{% endblock %}

  <div class="footer">
    <p class="link">
      <a href="/t/question/">Help Center</a>
      |
      <a href="/t/download/">Download</a>
      |
      <a href="mailto:master@thunder56.com">Contact</a>
      |
      <a href="/t/about/">About us</a>
    </p>
    <p>
      Copyright © 2014 Harbin Engineering University
    </p>
    <p>Address：Nantong Avenue in Nangang District of Harbin Email：<a href='javascript:;'>master@thunder56.com</a></p>
  </div>
  
  <script type="text/javascript" src="{% static 'js/formValidator-4.1.1.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/formValidatorRegex.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/themes/Default/js/theme.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.cookie.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
</body>
</html>

