{% extends "transport/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="wrap content-Inc">
    <div class="side-nav left">
      <dl class="nav-list">
        <dt>
          <span>我的订单</span>
        </dt>
        <dd>
          <ul>
            <li class="active">
              <a href="/t/i/psall">订单管理</a>
            </li>
            <li>
              <a href="/t/i/publish">订单发布</a>
            </li>
          </ul>
        </dd>
        <dt>
          <span>账号管理</span>
        </dt>
        <dd>
          <ul>
            <li>
              <a href="">个人资料</a>
            </li>
            <li>
              <a href="">修改密码</a>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
    {% block left_block %}
	{% endblock %}
</div>
{% endblock %}