{% extends "transport/base-individual.html" %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block left_block %}
    <div class="main-content left">
      <div class="order-head">
        <span>订单发布</span>
      </div>
      <div class="order-pub">
        <div class="item-row">
          <div class="key">货物装车地点：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">货物卸车地点：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">提货时间：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">计划到达目的地的时间：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">您要运输的货品名称：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">被运输货品的总价值：</div>
          <div class="val">
            <input type="text" class="input-pub" >
            <span>元</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">有多少货板（托盘/卡板）：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">有多少数量：</div>
          <div class="val">
            <input type="text" class="input-pub" >
            <span>个</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">总重为多少：</div>
          <div class="val">
            <input type="text" class="input-pub" >
            <span>千克</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">总尺寸为多少：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">总体积为多少：</div>
          <div class="val">
            <input type="text" class="input-pub" >
            <span>方</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">您需要哪种货车：</div>
          <div class="val">
            <select name="choose" id="choose">
              <option value="" selected="selected">大货车</option>
              <option value="">中型车</option>
              <option value="">小货车</option>
              <option value="">自行车</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">您需要的车辆长度：</div>
          <div class="val">
            <input type="text" class="input-pub" ></div>
        </div>
        <div class="item-row">
          <div class="key">是否包含危险品：</div>
          <div class="val">
            <select name="choose" id="choose">
              <option value="" selected="selected">否</option>
              <option value="">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">货物可堆放吗：</div>
          <div class="val">
            <select name="choose" id="choose">
              <option value="" selected="selected">否</option>
              <option value="">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">是底板载荷吗：</div>
          <div class="val">
            <select name="choose" id="choose">
              <option value="" selected="selected">否</option>
              <option value="">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">是否需要司机协助装卸工作：</div>
          <div class="val">
            <select name="choose" id="choose">
              <option value="" selected="selected">否</option>
              <option value="">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">是否需要购买货物保险：</div>
          <div class="val">
            <select name="choose" id="choose">
              <option value="" selected="selected">否</option>
              <option value="">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">货物及货运要求说明：</div>
          <div class="val">
            <textarea></textarea>
          </div>
        </div>
        <div class="item-row">
          <div class="key"></div>
          <div class="val">
            <button type="button" class="btn">发布</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  {% endblock %}