{% extends "transport/base-individual.html" %}
{% load staticfiles %}
{% block title %}需求发布{% endblock %}
{% block left_block %}

    <!-- 起始地点模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">请输入装车地址</h4>
          </div>
          <div class="modal-body">
            <div id="allmap"></div>
            <div id="r-result" style="font-size:14px">装车地址:<input type="text" class="suggest" id="suggestId"  onfocus="this.value='';" onblur="if(this.value==''){this.value='请输入装车地址并从下拉框选择准确位置'}"/></div>
            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btbtn btbtn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btbtn btbtn-primary">确定</button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content left">
      <div class="order-head">
        <span>需求发布</span>
      </div>
      <form action="/t/i/publish/" id="publish" method="post" enctype="multipart/form-data">
      <div class="order-pub">
        <div class="item-row">
          <div class="key">货物装车地点：</div>
          <div class="val small">
            <input type="text" class="input-pub" name="or_start">
          </div>
          <div class="find left" id="showMap">
            <img src="{% static 'images/location.png'%}">
          </div>
        </div>
        <div class="item-row">
          <div class="key">货物卸车地点：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_end"></div>
        </div>
        <div class="item-row">
          <div class="key">提货时间：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_startTime"></div>
        </div>
        <div class="item-row">
          <div class="key">计划到达目的地的时间：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_endTime"></div>
        </div>
        <div class="item-row">
          <div class="key">您要运输的货品名称：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_name"></div>
        </div>
        <div class="item-row">
          <div class="key">被运输货品的总价值：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_price">
            <span>元</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">有多少货板（托盘/卡板）：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_board"></div>
        </div>
        <div class="item-row">
          <div class="key">有多少数量：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_number">
            <span>个</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">总重为多少：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_weight">
            <span>千克</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">总尺寸为多少：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_size"></div>
        </div>
        <div class="item-row">
          <div class="key">总体积为多少：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_volume">
            <span>方</span>
          </div>
        </div>
        <div class="item-row">
          <div class="key">您需要哪种货车：</div>
          <div class="val">
            <select id="or_truck" name="or_truck">
              <option value="" selected="selected">大货车</option>
              <option value="">中型车</option>
              <option value="">小货车</option>
              <option value="">自行车</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">您需要的车辆长度：</div>
          <div class="val">
            <input type="text" class="input-pub" name="or_length"></div>
        </div>
        <div class="item-row">
          <div class="key">是否包含危险品：</div>
          <div class="val">
            <select id="or_isDanger" name="or_isDanger">
              <option value="否" selected="selected">否</option>
              <option value="是">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">货物可堆放吗：</div>
          <div class="val">
            <select id="or_isHeap" name="or_isHeap">
              <option value="否" selected="selected">否</option>
              <option value="是">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">是底板载荷吗：</div>
          <div class="val">
            <select id="or_isHand" name="or_isHand">
              <option value="否" selected="selected">否</option>
              <option value="是">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">是否需要司机协助装卸工作：</div>
          <div class="val">
            <select id="or_isAssist" name="or_isAssist">
              <option value="装卸都需要" selected="selected">装卸都需要</option>
              <option value="仅装车服务">仅装车服务</option>
              <option value="仅卸车服务">仅卸车服务</option>
              <option value="无">无</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">是否需要购买货物保险：</div>
          <div class="val">
            <select id="or_isInsurance" name="or_isInsurance">
              <option value="否" selected="selected">否</option>
              <option value="是">是</option>
            </select>
          </div>
        </div>
        <div class="item-row">
          <div class="key">货物及货运要求说明：</div>
          <div class="val">
            <textarea name="or_request"></textarea>
          </div>
        </div>
        <div class="item-row">
          <div class="key"></div>
          <div class="val">
            <button type="submit" class="btn">发布</button>
          </div>
        </div>
      </div>
    </form>
    </div>
    <div class="clearfix"></div>
    <script type="text/javascript" src="{% static 'js/findLocation.js'%}"></script>
  {% endblock %}