{% extends "transport/base-individual.html" %}
{% load staticfiles %}
{% load pagination_tags %}
{% block title %}Offer List{% endblock %}
{% block left_block %}
    <div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">推送确定</h4>
          </div>
          <div class="modal-body">
            <div class="modal-row">
              <div class="tip"><span>Hint：Have been pushing will no longer receive push data</span></div>
            </div>
            <div class="modal-row">
                <div class="key">PUSH RANGE：</div>
                <div class="val">
                  <select name="or_push" id="or_push" onchange="changePush({{or_id}},this.value)">
                    <option value="5" selected="selected">5km</option>
                    <option value="10">10km</option>
                    <option value="20">20km</option>
                    <option value="30">30km</option>
                    <option value="40">40km</option>
                    <option value="50">50km</option>
                    <option value="60">60km</option>
                    <option value="70">70km</option>
                    <option value="80">80km</option>
                    <option value="90">90km</option>
                    <option value="100">100km</option>
                  </select>
                </div>
                <div class="error">
                  <div id="or_pushTip"></div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btbtn btbtn-default" data-dismiss="modal">Cancle</button>
            <button type="button" class="btbtn btbtn-primary" id="push_confirm">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content left">
      <div class="order-head">
        <span>
          Offer List <i>( <em>Get {{offer_objs_nums}} quotation</em>
            )</i> 
        </span>
        <div class="order-list sort right">
          {% load recTopTags %}
          {% navtagitem s1 "by price" %} 
          |
          {% navtagitem s2 "by range" %}
          |
          {% navtagitem s3 "by time" %}
          <!--a href="id{{or_id}}s1">按价格排序</a>
          |
          <a href="id{{or_id}}s2">按距离排序</a>
          |
          <a href="id{{or_id}}s3">按时间排序</a-->
        </div>
      </div>
      <div class="main-order">
        <div class="hint">
          Hint：Please record the name, identity card and driver vehicle basic information
          <a href="javascript:;" class="right refresh-btn">
            <span id="span_refresh" onclick="refresh({{or_id}});">REFRESH</span>
          </a>
          <a href="javascript:;" id="span_push" class="right refresh-btn">
            <span>PUSH</span>
          </a>
        </div>
        {% autopaginate offer_objs 4 %}
        {% for offer_obj in offer_objs%}
        <div class="order-box">
          <div class="order-title">
            <div id="updatetime">Time：{{offer_obj.of_update | date:"Y-m-d H:i:s"}}</div>
            <div id="number">ID：{{offer_obj.of_order.or_id}}</div>
            <div id="scantimes">View：{{offer_obj.of_order.or_view}} </div>
          </div>
          <div class="order-row">
            <div class="order-driver">
              <p>
                <span>{{offer_obj.of_driver.dr_name}}</span>
                （ <em>¥ {{offer_obj.of_price | floatformat:"2"}}</em>
                ）
              </p>
              <p>ID card：{{offer_obj.of_driver.dr_iden}}</p>
              <p>Mobile&nbsp;：{{offer_obj.of_driver.dr_tel}}</p>
            </div>
            <div class="order-truckinfo">
              <p>Plate&nbsp;&nbsp;&nbsp;number：{{offer_obj.of_driver.dr_number}}</p>
              <p>Trailer number：{{offer_obj.of_driver.dr_hand}}</p>
              <p>Vehicle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type：{{offer_obj.of_driver.dr_type}}</p>
            </div>
            <div class="order-truckinfo">
              <p>Vehicle&nbsp;&nbsp;length：{{offer_obj.of_driver.dr_length}} 米</p>
              <p>Maximum load：{{offer_obj.of_driver.dr_weight}} 吨</p>
              <p>Offer&nbsp;&nbsp;distance：{{offer_obj.of_distance | floatformat:"2"}} 公里</p>
            </div>
            <div class="order-status dcjy"><a href="/t/i/confirm/id{{offer_obj.id}}">Deal</a></div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pag-navbar">
        <ul class="pag-nav">
          {% paginate %}
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <script type="text/javascript" src="{% static 'js/refresh-receive.js'%}"></script>
  {% endblock %}