{% extends "transport/base-individual.html" %}
{% load staticfiles %}
{% load pagination_tags %}
{% block title %}个人中心{% endblock %}
{% block left_block %}
    <div class="main-content left">
      <div class="order-head">
        <span>订单列表</span>
        <div class="order-list right">
          {% load indTopTags %}
          {% navtagitem /t/i/psall "全部订单" %} 
          |
          {% navtagitem /t/i/ps0 "显示中的订单" %}
          |
          {% navtagitem /t/i/ps1 "进行中的订单" %}
          |
          {% navtagitem /t/i/ps2 "已完成的订单" %}
          |
          {% navtagitem /t/i/ps3 "关闭的订单" %}
        </div>
      </div>
      <div class="main-order">
        {% autopaginate orders 4 %}
        {% for order in orders%}
          <div class="order-box">
          <div class="order-title">
            <div id="updatetime">更新时间：{{order.or_update|date:"Y-m-d H:i:s"}}</div>
            <div id="number">编号：{{order.or_id}}</div>
            <div id="scantimes">浏览 {{order.or_view}} 次</div>
            <div class="operation">
              <a href="">修改</a>
              |
              <a href="">删除</a>
            </div>
          </div>
          <div class="order-row">
            <div class="order-info">
              <p>{{order.or_title}}</p>
              <p>出发地：{{order.or_start}}</p>
              <p>目的地：{{order.or_end}}</p>
            </div>
            <div class="order-detail">
              {% if order.or_status == 0 %}
                <a href="/t/i/receive/id{{order.or_id}}s1">接单数量<span>
                  ({% for offer in offers%}{% if offer.or_id == order.or_id%}{{offer.offer_nums}}{% endif%}{% endfor %})
                </span></a>
              {% else %}
                <a href="/t/i/detail/">查看详情</a>
              {% endif %}
            </div>
            {% if order.or_status == 0 %}
              <div class="order-status xsz">显示中</div>
            {% elif order.or_status == 1 %}
              <div class="order-status jxz">进行中</div>
            {% elif order.or_status == 2 %}
              <div class="order-status ywc">已完成</div>
            {% elif order.or_status == 3 %}
              <div class="order-status ygb">已关闭</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pag-navbar">
        <ul class="pag-nav">
          {% paginate %}
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  {% endblock %}