{% extends "transport/base-individual.html" %}
{% load staticfiles %}
{% block title %}Order Detail{% endblock %}
{% block left_block %}
    <div class="main-content left">
      <div class="order-head">
        <span>ID：{{order.or_id}}</span>
        <div class="head-right">
          STATUS：
          {% if order.or_status == 1 %}
            <span class="yxz">Offering</span>
          {% elif order.or_status == 2 %}
            <span class="ywc">Completed</span>
          {% elif order.or_status == 3 %}
            <span class="ygb">Closed</span>
          {% endif %}
        </div>
      </div>
      <div class="order-tab">
        <ul class="tabmenu">
          <li data="msg" class="hover">
            <a href="javascript:;">Logistics</a>
          </li>
          {% if address%}
            <li data="posi" class="">
          {% else%}
            <li data="posi" class="">
          {% endif %}
            <a href="javascript:;">Position</a>
          </li>
        </ul>
        <div class="tabitem msg">
          <dl class="l-horizontal">
            {% if locations%}
              {% for location in locations%}
                <dt>{{location.lo_update | date:"Y-m-d H:i:s"}}</dt>
                <dd>{{location.lo_location}}</dd>
              {% endfor %}
            {% else %}
              NO RECORD
            {% endif %}
          </dl>
        </div>
        <div class="tabitem posi" style="display:none">
          {% if address%}
          <div id="allmap"></div>
          <div style="display:none">
            <input type="text" id="longitude" value="{{address.lo_longitude}}"/>
            <input type="text" id="latitude" value="{{address.lo_latitude}}"/>
            <input type="text" id="location" value="{{address.lo_location}}"/>
            <input type="text" id="updatedate" value="{{address.lo_update | date:'Y-m-d H:i:s'}}"/>
          </div>
          {% else%}
            NO RECORD
          {% endif %}
        </div>
      </div>
      <div class="sub-head">
        <span>Logistics information</span>
      </div>
      <div class="subitem">
        <dl class="c-horizontal">
          <dt>Departure place：</dt>
          <dd>{{order.or_start}}</dd>
          <dt>Destination：</dt>
          <dd>{{order.or_end}}</dd>
          <dt>Start time：</dt>
          <dd>{{order.or_startTime | date:"Y-m-d H:i"}}</dd>
          <dt>Arrival time：</dt>
          <dd>{{order.or_endTime | date:"Y-m-d"}}</dd>
          <dt>Goods：</dt>
          <dd>{{order.or_name}}</dd>
          <dt>Value：</dt>
          <dd>{{order.or_price | floatformat:"2"}} RMB</dd>
          <dt>Pallet：</dt>
          <dd>{{order.or_board}}</dd>
          <dt>Amount：</dt>
          <dd>{{order.or_number}}</dd>
          <dt>Weight：</dt>
          <dd>{{order.or_weight| floatformat:"2"}} KG</dd>
          <dt>Size：</dt>
          <dd>Length {{order.or_size_l| floatformat:"2"}} M / Width {{order.or_size_w| floatformat:"2"}} M / Height {{order.or_size_h| floatformat:"2"}} M</dd>
          <dt>Volume：</dt>
          <dd>{{order.or_volume| floatformat:"2"}} M*3</dd>
          <dt>Vehicle Length</dt>
          <dd>{{order.or_truck}}</dd>
          <dt>Vehicle Type：</dt>
          <dd>{{order.or_length| floatformat:"2"}} M</dd>
          <dt>Contain dangerous goods：</dt>
          <dd>{{order.or_isDanger}}</dd>
          <dt>Can be piled up：</dt>
          <dd>{{order.or_isHeap}}</dd>
          <dt>Bottom structures：</dt>
          <dd>{{order.or_isHand}}</dd>
          <dt>Whether need driver assistance：</dt>
          <dd>{{order.or_isAssist}}</dd>
          <dt>Whether buy cargo insurance：</dt>
          <dd>{{order.or_isInsurance}}</dd>
          <dt>Simple declaration：</dt>
          <dd>{{order.or_request}}</dd>
        </dl>
      </div>
      <div class="sub-head">
        <span>Cargoes information</span>
      </div>
      <div class="subitem">
        <dl class="c-horizontal">
          <dt>Name：</dt>
          <dd>{{offer_obj.of_driver.dr_name}}</dd>
          <dt>Quotation：</dt>
          <dd>{{offer_obj.of_price | floatformat:"2"}} RMB</dd>
          <dt>ID card：</dt>
          <dd>{{offer_obj.of_driver.dr_iden}}</dd>
          <dt>Mobile：</dt>
          <dd>{{offer_obj.of_driver.dr_tel}}</dd>
          <dt>Plate number：</dt>
          <dd>{{offer_obj.of_driver.dr_number}}</dd>
          <dt>Trailer number：</dt>
          <dd>{{offer_obj.of_driver.dr_hand}}</dd>
          <dt>Vehicle type：</dt>
          <dd>{{offer_obj.of_driver.dr_type}}</dd>
          <dt>Vehicle length：</dt>
          <dd>{{offer_obj.of_driver.dr_length}} M</dd>
          <dt>Maximum load：</dt>
          <dd>{{offer_obj.of_driver.dr_weight}} KG</dd>
        </dl>
      </div>
    </div>
    <div class="clearfix"></div>
  {% endblock %}