{% extends "transport/base-individual.html" %}
{% load staticfiles %}
{% load pagination_tags %}
{% block title %}个人中心{% endblock %}
{% block left_block %}
    <div class="modal fade" id="closeOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog mini">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Close?</h4>
          </div>
          <div class="modal-body">
            <p>确定要关闭该需求吗？</p>
            <p>关闭后所有的需求信息和相关报价信息将不再可用。</p>
          </div>
          <div class="modal-footer">
             <input type="text" name="close_order_data" id="close_order_data" style="display:none">
            <button type="button" class="btbtn btbtn-default" data-dismiss="modal">CANCLE</button>
            <button type="button" class="btbtn btbtn-danger" id="close_order_confirm">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content left">
      <div class="order-head">
        <span>Order List</span>
        <div class="order-list right">
          {% load indTopTags %}
          {% navtagitem /t/i/psall "ALL" %} 
          |
          {% navtagitem /t/i/ps0 "Offering" %}
          |
          {% navtagitem /t/i/ps1 "Ongoing" %}
          |
          {% navtagitem /t/i/ps2 "Completed" %}
          |
          {% navtagitem /t/i/ps3 "Closed" %}
        </div>
      </div>
      <div class="main-order">
        {% autopaginate orders 4 %}
        {% for order in orders%}
          <div class="order-box">
          <div class="order-title">
            <div id="updatetime">Time：{{order.or_update|date:"Y-m-d H:i:s"}}</div>
            <div id="number">ID：{{order.or_id}}</div>
            <div id="scantimes">View {{order.or_view}} </div>
            {% if order.or_status == 0 %}
            <div class="operation">
              <a href="/t/i/edit/id{{order.or_id}}">Edit</a>
              |
              <a href="javascript:closeOrder({{order.or_id}})">Close</a>
            </div>
            {% endif %}
          </div>
          <div class="order-row">
            <div class="order-info">
              <p>{{order.or_title}}</p>
              <p>FROM：{{order.or_start}}</p>
              <p>TO&nbsp;&nbsp;：{{order.or_end}}</p>
            </div>
            <div class="order-detail">
              {% if order.or_status == 0 %}
                <a href="/t/i/receive/id{{order.or_id}}s1">Offer<span>
                  ({% for offer in offers%}{% if offer.or_id == order.or_id%}{{offer.offer_nums}}{% endif%}{% endfor %})
                </span></a>
              {% else %}
                <a href="/t/i/detail/id{{order.or_id}}">Detail</a>
              {% endif %}
            </div>
            {% if order.or_status == 0 %}
              <div class="order-status xsz">Offering</div>
            {% elif order.or_status == 1 %}
              <div class="order-status jxz">Ongoing</div>
            {% elif order.or_status == 2 %}
              <div class="order-status ywc">Completed</div>
            {% elif order.or_status == 3 %}
              <div class="order-status ygb">Closed</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pag-navbar">
        <ul class="pag-nav">
          {% paginate %}
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  {% endblock %}