{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}找回密码{% endblock %}
{% block body_block %}
	<div class="wrap content-forget">
		<div class="titlebar">
			<div class="title left">
				<span >找回密码</span>
			</div>
		</div>
		<div class="pwd-forgot">
			<ul class="pwd-sub-nav">
				<li class="pwd-sub-list1">验证帐号</li>
				<li class="pwd-sub-list2 active">重置密码</li>
				<li class="pwd-sub-list3">修改成功</li>
			</ul>
			<div class="pwd-step-detail">
				<div class="item-row">
					<div class="key">新密码：</div>
					<div class="val">	
						<input id='clt_pwd' name="clt_pwd" type="password" class="input-logmail" />
					</div>
					<div class="error" id="clt_pwdTip"></div>
				</div>
				<div class="item-row">
					<div class="key">确认新密码：</div>
					<div class="val">	
						<input id='clt_pwd_a' name="clt_pwd_a" type="password" class="input-logmail" />
					</div>
					<div class="error" id="clt_pwd_aTip"></div>
				</div>
				<div class="item-row">
					<div class="key"></div>
					<div class="val">
						<button type="submit" name="submit" id="submit" class="btn">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}