{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}常见问题{% endblock %}
{% block body_block %}
	<div class="wrap content-faq">
		<div class="titlebar">
			<div class="title left">
				<span >Q & A</span>
			</div>
			<div class="location right">
				<span class="hover">HOME</span>
				>
				<span>FEEDBACK</span>
			</div>
		</div>
		<div class="item">
			<div class="qu">
				<div class="no left"><span>Q1</span></div>
				<div class="title2 left">Method of saving flow</div>
			</div>
			<div class="an">
				<div class="arrow"></div>
				<p>1.When not install offline map, click on the upper right corner<MAP>, close the map shows</p>
				<p>2.After install offline maps, try to avoid scale map, less click on the road show.
					Normal operation According to the above method, 6 hours online consumption flow around 2.5-3 
			</div>
		</div>
		<div class="item">
			<div class="qu">
				<div class="no left"><span>Q2</span></div>
				<div class="title2 left">Treating method of abnormal traffic consumption</div>
			</div>
			<div class="an">
				<div class="arrow"></div>
				<p>1. Please check whether the latest version, confirm that offline map has been installed.</p>
				<p>2. Method to check whether offline maps installed: Set the cell phone into flight mode and slide the map. If map shows normal, it has been installed correctly. Otherwise not install offline maps, advice on local service personnel to install, or call 400-000-1999 for consult.</p>
				<p>3. Through mobile phone steward and other tools, Check other software in the mobile phone consumption flow conditions.</p>
			</div>
		</div>
		<div class="item">
			<div class="qu">
				<div class="no left"><span>Q3</span></div>
				<div class="title2 left">Transaction on flow combo</div>
			</div>
			<div class="an">
				<div class="arrow"></div>
				<p>1. Please modify data plan of next month before the end of this month, ensure monthly flow 150M.</p>
				<p>2. When flow is not enough in the month, please contact local Moblie、Unicom、Telecom etc operators, apply for flow superposition package.</p>
				<p>3. Drops online 300 hours per month, we have 10 yuan subsidy flow fee for you.</p>
			</div>
		</div>
		<div class="item">
			<div class="qu">
				<div class="no left"><span>Q4</span></div>
				<div class="title2 left">Solutions to save electric quantity</div>
			</div>
			<div class="an">
				<div class="arrow"></div>
				<p>Because of the different components, smartphones cost more electricity than normal phones. GPS needs to determine your position constantly, used to push panggil mobil bill, also need to consume power. It recommended you to install a cigarette lighter, with car USB conversion connector, or take a standby battery with mobile phone.</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
  {% endblock %}