<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> 
<title>无标题文档</title> 
<style type="text/css"> 
div,ul,li{ margin:0; padding:0} 
ul,li{ list-style:none} 
.li_left { clear:both} 
.li_left li{ float:left; border-left:1px solid #FF0000; border-top:1px solid #FF0000; width:100px} 
.border_right{ border-right:1px solid #FF0000} 
.border_bottom li{ border-bottom:1px solid #FF0000} 
</style> 
</head> 

<body> 
<ul class="li_left"> 
<li>1</li> 
<li>2</li> 
<li>3</li> 
<li>4</li> 
<li class="border_right">5</li> 
</ul> 
<ul class="li_left"> 
<li>1</li> 
<li>2</li> 
<li>3</li> 
<li>4</li> 
<li class="border_right">5</li> 
</ul> 
<ul class="li_left border_bottom"> 
<li>1</li> 
<li>2</li> 
<li>3</li> 
<li>4</li> 
<li class="border_right">5</li> 
</ul> 
</body> 
</html>